.root {
	animation: bounce 3s infinite forwards;
}

@keyframes bounce {
	0% {
		transform: translate3d(0,0,0);
	}

	50% {
		transform: translate3d(0,80%,0);
	}
	
	100% {
		transform: translate3d(0,0,0);
	}
}
